body { 
  margin: 40px 0 auto 20%;
  max-width:60%;
}

section {
  padding-bottom:50px;
}

a { text-decoration: none; color: #999; }
a:hover { text-decoration: underline; }

p, ul { font-family: 'Pontano Sans'; font-size: 1.1em; line-height: 1.4em; color: #333; }

h1, h2, h3 { font-family: 'Alice', serif; }
h1 { font-size: 2em;  }
h2 {
  font-size: 1.7em;
}
h3 { font-size: 1.7em; }

.wrapper {
  margin-bottom: 50px;
}

header h1 { margin-bottom: -10px }

header p { 
  font-family: 'Alice', serif ;
  color: #333;
}

pre, code, tt {
  font-size: 13px;
  font-family: Consolas, "Liberation Mono", Courier, monospace;
}

code, tt {
  margin: 0 0px;
  padding: 0px 0px;
  white-space: nowrap;
  border: 1px solid #eaeaea;
  background-color: #f8f8f8;
  border-radius: 3px;
}

header {
  -webkit-font-smoothing:subpixel-antialiased;
}

header ul {
  list-style:none;
  height:40px;
  padding:0;
  background: #f4f4f4;
  border-radius:5px;
  border:1px solid #e0e0e0;
  width:270px;
}

header li {
  width:89px;
  float:left;
  border-right:1px solid #e0e0e0;
  height:40px;
}

header li:first-child a {
  border-radius:5px 0 0 5px;
}

header li:last-child a {
  border-radius:0 5px 5px 0;
}

header ul a {
  line-height:1;
  font-size:11px;
  color:#999;
  display:block;
  text-align:center;
  padding-top:6px;
  height:34px;
}

header ul a:hover {
  color:#999;
}

header ul a:active {
  background-color:#f0f0f0;
}

strong {
  color:#222;
  font-weight:700;
}

header ul li + li + li {
  border-right:none;
  width:89px;
}

header ul a strong {
  font-size:14px;
  display:block;
  color:#222;
}

nav ul, footer ul { font-size: 1em; font-family: 'Helvetica', 'Arial', 'Sans-Serif'; padding: 0px; list-style: none; font-weight: bold; }
nav ul li, footer ul li { display: inline; margin-right: 20px; }

footer { border-top: 1px solid #d5d5d5; font-size: .8em; }