<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>{{ site.title | default: site.github.repository_name }}</title>
    <!-- <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}"> -->
    <link href="https://fonts.googleapis.com/css?family=Alice|Pontano+Sans" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header {% unless site.description or site.github.project_tagline %} class="without-description" {% endunless %}>
        <h1>{{ site.title | default: site.github.repository_name }}</h1>
        {% if site.description or site.github.project_tagline %}
          <p>{{ site.description | default: site.github.project_tagline }}</p>
        {% endif %}
        <ul>
        {% if site.show_downloads %}
          <li><a href="{{ site.github.repository_url }}/archive/master.zip">Download <strong>ZIP File</strong></a></li>
          <li><a href="{{ site.github.repository_url }}/archive/master.tar.gz">Download <strong>TAR Ball</strong></a></li>
        {% endif %}
          <li><a href="{{ site.github.repository_url }}">View On <strong>GitHub</strong></a></li>
        </ul>
      </header>
    </div>
    <section>

    {{ content }}

    </section>
    <footer>
    {% if site.github.is_project_page %}
      <p>Project maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></p>
    {% endif %}
    </footer>
    <!--[if !IE]><script>fixScale(document);</script><![endif]-->
  </body>
</html>
